{% extends "bmi_calculator/base.html" %}


{% block bmi %}

<div id="main">
	
    <form action="{% url 'bmi_calculator:count_bmi' %}" method="post">
    {% csrf_token %}

    <div id="bmi_form" style="text-align:center; background-color:lightgreen; background-size: 50% 80%;">
        <h3>Kalkulator BMI</h3>

        <p>Podaj swoją płeć.</p>
        <select name="chosen_sex">
           {% for one in sex %}
               <option value="{{one}}">{{one}}</option>
           {% endfor %}
        </select>

        <p>Wprowadź dane dotyczące Twojego wzrostu (wzrost w metrach np 1.65).</p>
        <input type="text" name="height" value="" size="10" style="text-align:center;">
		<br>

        <p>Wprowadź dane dotyczące Twojej wagi w kilogamach (np, 70.3).</p>
        <input type="text" name="weight" value="" size="10" style="text-align:center;">
		<br>

        <p><input type="submit" value="Oblicz BMI"></p>
        <br>
    </div>

    </form>
</div>

    {% block bmi_results %}
    {% endblock %}

{% endblock %}


